<h3 class="mt-5 mb-2">Need larger Spreadsheets?</h3>
<p>
    Consider upgrading your free trial to a premium account to unlock more features and larger spreadsheets.
    With a Spreadsheet Editor Premium Subscription, you get many exciting features such as:
    <ul>
        <li>Unlimited Spreadsheets</li>
        <li>Unlimited Rows and Columns</li>
        <li>Advanced Formulas</li>
        <li>Customizable Themes</li>
        <li>Priority Support</li>
    </ul>
</p>